{% extends 'base.html' %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">About Us</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">About Us</p>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- FAQ Start -->
	<div class="col-lg-6 col-md-6 pb-1">
    	<div
        	class="d-flex bg-light shadow-sm border-top rounded mb-4"
            style="padding: 30px"
        >
        	<i
            	class="flaticon-048-paper-plane h1 font-weight-normal text-primary mb-3"
            ></i>
              <div class="pl-4">
                <h4>FAQ 1: How much do classes cost?</h4>
                <p class="m-0">
                 Classes vary in price from $290 to $400 dpending on the content and length of the lesson.
                </p>
              </div>
    	</div>
    </div>
	  
	<div class="col-lg-8 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class="flaticon-048-paper-plane h1 font-weight-normal text-primary mb-3"
              ></i>
              <div class="pl-4">
                <h4>FAQ 2: How do I see my signed up for classes?</h4>
                <p class="m-0">
                  You can login in using the login button in the upper right corner of the page and then going to the classes page.
                </p>
              </div>
            </div>
          </div>
	  
	 <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class="flaticon-048-paper-plane h1 font-weight-normal text-primary mb-3"
              ></i>
              <div class="pl-4">
                <h4>FAQ 3: Do I need any additional software?</h4>
                <p class="m-0">
                  Some lessons may require the use of or benefit from additional software to better grasp concepts. 
                </p>
              </div>
            </div>
          </div>
	<!-- FAQ End -->

    



{% endblock %}
