<!-- Navbar Start -->
    <div class="container-fluid bg-light position-relative shadow">
      <nav
        class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5"
      >
        <a
          href="{% url 'home' %}"
          class="navbar-brand font-weight-bold text-secondary"
          style="font-size: 50px"
        >
          <i class="flaticon-042-synthesizer"></i>
          <span class="text-primary">Tutor Website</span>
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav font-weight-bold mx-auto py-0">
            <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
            <a href="{% url 'tutor' %}" class="nav-item nav-link">Tutors</a>
            <a href="{% url 'class' %}" class="nav-item nav-link">Classes</a>
            <a href="{% url 'faq' %}" class="nav-item nav-link">FAQ</a>
            <a href="{% url 'about' %}" class="nav-item nav-link">About Us</a>
            <!-- Comment out in case we remove it
            <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >Pages</a
              >
              <div class="dropdown-menu rounded-0 m-0">
                <a href="blog.html" class="dropdown-item">Blog Grid</a>
                <a href="single.html" class="dropdown-item">Blog Detail</a>
              </div>
            </div>
            -->
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
          </div>
          <div>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-primary px-4">Log out</a>
            <!-- Sign In Bttn -->
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary px-4">Sign In</a>
            {% endif %}

          </div>
        </div>
      </nav>
    </div>
    <!-- Navbar End -->
