{% extends 'base.html' %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">Register Account</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Register Account</p>
        </div>

        <!-- Sign in form here -->
        <br/>
        <br/>
        <div class="col-md-3">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}

              {{ form.as_p }}
              <br/><br/>
              <div class="text-center">
                  <button type="submit" class="btn btn-secondary">Register</button>
              </div>
              <br/>
            </form>
        </div>

      </div>
    </div>
    <!-- Header End -->



{% endblock %}